.example-card {
  //max-width: 300px;
  //min-height: 690px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

img {
  max-height: 160px;
  width: 100%;
  object-fit: cover;
  //min-height: 320px;
  //object-fit: contain;
}

mat-card {
  padding: 0;
  overflow: hidden;
}

mat-card img{
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 80%;
}

//.card-content {
//  .mat-card-actions {
//    position: absolute;
//    bottom: 0;
//  }
//}
