.main-background {
  min-height: 85vh;
  //background-image: url("/assets/images/landing-page/pexels-giftpunditscom-1303081.jpg");
  //background-image: url("/assets/images/landing-page/pexels-giftpunditscom-1303098.jpg");
  background-image: url("/assets/images/landing-page/pexels-ylanite-koppens-796606.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  button {
    font-size: 1.4rem;
    margin-right: 20px;
    margin-left: 20px;
    min-width: 150px;
  }
}

.functionality-container {
  mat-icon {
    height: 70px;
    width: 70px;
  }
}
