<mat-grid-list [cols]="cols" [rowHeight]="height">
  <mat-grid-tile *ngFor="let item of items">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{ item.title }}</mat-card-title>
        <mat-card-subtitle>{{ item.category }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="'assets/images/' + item.imageName" [alt]="item.title">
      <div class="card-content">
        <mat-card-content>
          <p *ngFor="let part of item.description">{{ part }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="clickLink(item)">LÄNK</button>
        </mat-card-actions>
      </div>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>




